.mainVisual {
    position: relative;
}

.mainVisual figure {
    height: 100vh;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

.mainVisual .item01 {
    background-image: url(../img/포뇨01.jpg);
}
.mainVisual .item02 {
    background-image: url(../img/포뇨02.jpg);
}
.mainVisual .item03 {
    background-image: url(../img/포뇨03.jpg);
}

.mainVisual .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100px;
    transform: translate(-50%);
}

.mainVisual .slick-dots li {
    background: rgba(255, 255, 255, 0.5);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.mainVisual .slick-dots li.slick-active {
    background: #fff;
}

.mainVisual .slick-dots button {
    display: none;
}

.mainVisual .slideArrows i {
    position: absolute;
    top: 50%;
    font-size: 70px;
    color: rgba(255, 255, 255, 0.2);
    transform: translateY(-50%);
    cursor: pointer;
}

.mainVisual .slideArrows i:first-child {
    left: 50px;
}
.mainVisual .slideArrows i:last-child {
    right: 50px;
}